<div class="container dashboard-container">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="float-lg-right">
      <a routerLink="/manufacturers">
      <div class="card" style="width: 20rem;height: 14rem; background-color: grey;">
        <img class="card-img-top" src="assets/images/manufacturer.svg" alt="Card image cap" style="height: 10rem;">
        <div class="card-body">
          <p class="card-text">Manufactureres enrolled with NABL</p>
        </div>
      </div>
    </a>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="float-lg-left">
      <a routerLink="/testlabs">
      <div class="card" style="width: 20rem;height: 14rem; background-color: grey;">
        <img class="card-img-top" src="assets/images/manufacturer.svg" alt="Card image cap" style="height: 10rem;">
        <div class="card-body">
          <p class="card-text">Testing Labs enrolled with NABL</p>
        </div>
      </div>
    </a>
    </div>
    </div>
  </div>
  <div class="row align-items-center mt-3">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="float-lg-right">
      <a routerLink="/products">
      <div class="card" style="width: 20rem;height: 14rem; background-color: grey;">
        <img class="card-img-top" src="assets/images/manufacturer.svg" alt="Card image cap" style="height: 10rem;">
        <div class="card-body">
          <p class="card-text">Certified Products with NABL</p>
        </div>
      </div>
    </a>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="float-lg-left">
      <a routerLink="/testreports">
      <div class="card" style="width: 20rem;height: 14rem; background-color: grey;">
        <img class="card-img-top" src="assets/images/manufacturer.svg" alt="Card image cap" style="height: 10rem;">
        <div class="card-body">
          <p class="card-text">Product Test-Reports with NABL</p>
        </div>
      </div>
    </a>
    </div>
    </div>
  </div>
</div>
