<div class="container">
      <div class="row">
      <div *ngIf="product$ | async as product" class="mt-3">

          <h2>{{product.name | uppercase}} Details</h2>
          <div><span>Name: </span>{{product.name}}</div>
          <div><span>Manufacturer: </span>{{product.manufacturer}}</div>
          <div><span>Type: </span>{{product.type}}</div>
          <div><span>Report: </span>{{product.report}}</div>
      </div>
      </div>
  <!-- <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div> -->
          <div class="row mt-3">
          <div class=col-1><div><span><button type="button" class="btn btn-outline-secondary">Edit</button></span></div></div>
          <div class=col-1><div><span><button type="button" class="btn btn-outline-secondary" (click)="goBack()" >Back</button></span></div></div>
          </div>

</div>
